<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Import Anggota'" [headerContent]="'Anda dapat import Anggota via XLSX/CSV'">
      <!-- <div class="sub-title">Sub Title</div> -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
          <!-- Border Alert start -->
          <form>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Import File</label>
                  <input type="file" (change)="incomingfile($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              </div>
              <div class="col-md-6">
                <button type="submit" (click)="upload()" class="btn btn-primary btn-fileimport">IMPORT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-card>

    <app-card [title]="'Hasil Import'" [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>No. KTP</th>
                <th>No. BPJS</th>
                <th>Nama</th>
                <th>Pekerjaan</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of dataTable">
                <th scope="row">{{ data.NO }}</th>
                <td>{{ data.NO_KTP }}</td>
                <td>{{ data.NO_BPJS }}</td>
                <td>{{ data.NAMA }}</td>
                <td>{{ data.PEKERJAAN }}</td>
              </tr>
              </tbody>
            </table>
          </div>
      </app-card>
  </div>
</div>