<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Lihat Iuran'" [headerContent]="'List iuran yang telah dibayarkan.'">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-3">
          <!-- <button [routerLink]="['/perusahaan/transaksi/transaksi-add']" class="btn btn-primary btn-block waves-effect text-center"><i class="icofont icofont-plus"></i> Tambah Transaksi </button> -->
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"> 
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian periode' (keyup)='updateFilter($event)'/>
          </div> 
      </div>

      <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rows]='rowsFilter'>
          <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" value="CSS" >
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div> 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Index" 
              [width]="70">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong> {{rowsFilter.indexOf(row)+1}}</strong>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Pemberi Kerja" 
              [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['perusahaan']['nama_perusahaan']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Periode" 
              [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['periode']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Tanggal Bayar" 
              [width]="200" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{convert.formatDate(row['tanggal_bayar'])}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  
              [width]="150" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                      <span>Jumlah Bayar</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-right;"> 
                      {{convert.formatRupiah(row['jumlah_bayar'])}}
                  </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Status Konfirmasi" 
              [width]="150" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    <span class="label label-success" *ngIf="row['konfirm_status'] === true">Konfirmasi</span>
                    <span class="label label-default" *ngIf="row['konfirm_status'] === false">Belum Konfirmasi</span> 
                </div>
              </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column 
              name="Tanggal Konfirmasi" 
              [width]="200" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['konfirm_tanggal']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              [width]="210" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                      <span>Action</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template >
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                      <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                      <button type="button" (click)="showDetail(row)" class="btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-ui-search"></i></button> 
                      &emsp;
                      <button type="button" (click)="showConfirm($event, row._id, row.konfirm_status)" *ngIf="row['konfirm_status'] === true" class="col-sm-3 btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Batal Konfirmasi"><i class="icofont icofont-ui-close"></i></button>
                      <button type="button" (click)="showConfirm($event, row._id, row.konfirm_status)" *ngIf="row['konfirm_status'] === false" class="col-sm-3 btn btn-success btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Konfirmasi"><i class="icofont icofont-ui-check"></i></button>
                      <!--
                      <button type="button" id="btnShowEdit" [hidden]="true" (click)="dataEdit.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-pencil"></i> Edit</button> 
                      <button type="button" (click)="showEdit()" class="btn btn-warning btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Edit"><i class="icofont icofont-pencil-alt-2"></i></button> 
                      &emsp;
                      <button type="button" (click)="showConfirmDelete($event, row._id, row.status_aktif_pekerja)"class="col-sm-3 btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Ubah Status"><i class="icofont icofont-eye"></i></button> 
                      -->
                  </div>
              </ng-template> 
          </ngx-datatable-column> 
      </ngx-datatable>
      

      <app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
              <h4 class="modal-title">Detail Transaksi</h4>
              <button type="button" class="close basic-close" (click)="dataDetail.hide()">
                  <span class="alert-danger" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="app-modal-body">
            <div class="row">   
              <div class="col-sm-12">   
                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-2">
                      <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses print sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-info btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-print"></i> Print</button> 
                  </div>
                  <div class="col-sm-2">
                      <button type="button" (click)="addToast({title:'Cetak Identitas', msg:'Proses download PDF sedang berlangsung.', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:false})" class="btn btn-danger btn-sm btn-block waves-effect text-center" style="white-space:normal !important;"><i class="icofont icofont-file-pdf"></i> PDF</button>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
              </div>
              <div class="col-sm-12"><br></div>
              <div class="col-sm-6">   
                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Kode Perusahaan</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span>{{kode_perusahaan}}</span>
                  </div>
                </div>

                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                      <span><strong>Nama Perusahaan</strong></span>
                  </div>
                  <div class="col-sm-8">
                      <span>{{nama_perusahaan}}</span>
                  </div>
                </div>
                
                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Periode</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span>{{rowsSelected['periode']}}</span>
                  </div>
                </div>

                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Tanggal Transaksi</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span>{{convert.formatDate(rowsSelected['tanggal_bayar'])}}</span>
                  </div>
                </div>

                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Jumlah Bayar</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span>{{rowsSelected['jumlah_bayar']}}</span>
                  </div>
                </div>

              </div>

              <div class="col-sm-6">   
                
                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Konfirmasi Status</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span class="label label-success" *ngIf="rowsSelected['konfirm_status'] === true">Konfirmasi</span>
                    <span class="label label-default" *ngIf="rowsSelected['konfirm_status'] === false">Belum Konfirmasi</span> 
                  </div>
                </div>
 
                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                  <div class="col-sm-4">
                    <span><strong>Konfirmasi Tanggal</strong></span>
                  </div>
                  <div class="col-sm-8">
                    <span>{{convert.formatDate(rowsSelected['konfirm_tanggal'])}}</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                  <br>
                  <br>
              </div>   
              <div class="col-sm-12">   
                <ngx-datatable
                  #table
                  class='data-table'
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="50"
                  [scrollbarH]="true"
                  [limit]="10"
                  [rows]='rowsDetail'>
                  <ngx-datatable-column
                      [width]="50"
                      [resizeable]="false"
                      [sortable]="false"
                      [draggable]="false"
                      [canAutoResize]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="checkbox-fade fade-in-black">
                              <label>
                              <input type="checkbox" value="CSS" >
                              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                              </label>
                          </div> 
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column 
                      name="Index" 
                      [width]="70">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                          <strong> {{rowsDetail.indexOf(row)+1}}</strong>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column 
                      name="No KTP" 
                      [width]="100">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['peserta']['no_ktp']}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column 
                      name="No BPJS" 
                      [width]="100" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['peserta']['no_bpjs']}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column  
                      [width]="250" >
                      <ng-template ngx-datatable-header-template>
                          <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                              <span>Nama</span>
                          </div>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                              {{row['peserta']['nama']}}
                          </div>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column 
                      name="Jenis Kelamin" 
                      [width]="150" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['peserta']['jenis_kelamin']}}
                      </ng-template>
                  </ngx-datatable-column> 
                  <ngx-datatable-column 
                      name="Paket Premi" 
                      [width]="150" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row['paket']['nama_paket']}} - {{convert.formatRupiah(row['paket']['jumlah_bayar'])}}
                      </ng-template>
                  </ngx-datatable-column> 
                  <ngx-datatable-column 
                      name="Status Aktif Pekerja" 
                      [width]="150" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                            <span class="label label-success" *ngIf="row['peserta']['status_aktif_pekerja'] === true">Aktif</span>
                            <span class="label label-default" *ngIf="row['peserta']['status_aktif_pekerja'] === false">Tidak Aktif</span> 
                        </div>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column 
                      name="Status Aktif Premi" 
                      [width]="150" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                        <span class="label label-success" *ngIf="row['peserta']['status_aktif_program'] === true">Aktif</span>
                        <span class="label label-default" *ngIf="row['peserta']['status_aktif_program'] === false">Tidak Aktif</span> 
                    </div>
                  </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
      </app-modal-basic>

      <app-modal-basic #dataEdit [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Edit Transaksi</h4>
            <button type="button" class="close basic-close" (click)="dataEdit.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
        </div>
      </app-modal-basic>


    </app-card>
  </div>
</div>
