<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Daftar Anggota'" [headerContent]="'Daftar anggota yang terdaftar ke dalam sistem.'">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-3">
          <button [routerLink]="['/perusahaan/peserta/peserta-add']" class="btn btn-primary btn-block waves-effect text-center"><i class="icofont icofont-plus"></i> Tambah Anggota </button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-3">
          <select class="form-control" id="perusahaan" name="perusahaan"  (change)='changePerusahaan($event)'>
              <option value="-">-- Pemberi Kerja --</option>
              <option *ngFor="let perusahaan of rowsPerusahaan" [ngValue]="perusahaan._id">{{perusahaan.nama_perusahaan}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control" id="klinik" name="klinik"  (change)='changeKlinik($event)'>
              <option value="-">-- FKTP --</option>
              <option *ngFor="let klinik of rowsKlinik" [ngValue]="klinik._id">{{klinik.nama_klinik}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control" id="rumahsakit" name="rumahsakit"  (change)='changeRumahSakit($event)'>
              <option value="-">-- Rumah Sakit --</option>
              <option *ngFor="let rumahsakit of rowsRumahSakit" [ngValue]="rumahsakit._id">{{rumahsakit.nama_rumah_sakit}}</option>
          </select>
        </div>
          <div class="col-sm-3"> 
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Nama' (keyup)='updateFilter($event)'/>
          </div> 
      </div>

      <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rows]='rowsFilter'>
          <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" value="CSS" >
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div> 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Index" 
              [width]="70">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong> {{rowsFilter.indexOf(row)+1}}</strong>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="No KTP" 
              [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['no_ktp']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="No BPJS" 
              [width]="100" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['no_bpjs']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  
              [width]="250" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                      <span>Nama</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                      {{row['nama']}}
                  </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Jenis Kelamin" 
              [width]="150" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['jenis_kelamin']}}
              </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column 
              name="Paket Premi" 
              [width]="150" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['paket']['nama_paket']}} - {{convert.formatRupiah(row['paket']['jumlah_bayar'])}}
              </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column 
              name="Status Aktif Pekerja" 
              [width]="150" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    <span class="label label-success" *ngIf="row['status_aktif_pekerja'] === true">Aktif</span>
                    <span class="label label-default" *ngIf="row['status_aktif_pekerja'] === false">Tidak Aktif</span> 
                </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
            name="Status Eligibilitas Terakhir" 
            [width]="150" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    {{row['last_active']}}
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
            name="Iuran Terakhir" 
            [width]="150" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    <span class="label label-success" *ngIf="row['last_transaksi_status'] === true">Aktif {{row['last_transaksi_periode']}}</span>
                    <span class="label label-default" *ngIf="row['last_transaksi_status'] === false">Tidak Aktif {{row['last_transaksi_periode']}}</span> 
                </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="210"  >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                      <span>Action</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template >
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                      <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                      <button type="button" (click)="showDetail()" class="btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i></button> 
                      &emsp;
                      <button type="button" id="btnShowEdit" [hidden]="true" (click)="dataEdit.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-pencil"></i> Edit</button> 
                      <button type="button" (click)="showEdit()" class="btn btn-warning btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Edit"><i class="icofont icofont-pencil-alt-2"></i></button> 
                      &emsp;
                      <button type="button" (click)="showConfirmDelete($event, row._id, row.status_aktif_pekerja)"class="btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Ubah Status Aktif Pekerja"><i class="icofont icofont-eye"></i></button>
                  </div>
              </ng-template> 
          </ngx-datatable-column> 
      </ngx-datatable>
      
      <app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Detail Peserta</h4>
            <button type="button" class="close basic-close" (click)="dataDetail.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
        </div>
      </app-modal-basic>

      <app-modal-basic #dataEdit [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Edit Peserta</h4>
            <button type="button" class="close basic-close" (click)="dataEdit.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
        </div>
        </app-modal-basic>


    </app-card>
  </div>
</div>
