<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Laporan Anggota'" [headerContent]="'Anda dapat melihat daftar seluruh anggota'" [classHeader]="false" [blockClass]="'table-border-style'">
      <ngx-datatable
        #table
        class="data-table"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [reorderable]="reorderable">
        <ngx-datatable-row-detail *ngFor="let row of rows">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="checkbox-fade fade-in-black">
              <label>
              <input type="checkbox" value="CSS" >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
          </div> 
        </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column 
            name="NO" 
            [width]="40">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong> {{row.NO}}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NO KTP" 
            [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.NO_KTP}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NO BPJS" 
            [width]="120" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.NO_BPJS}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NAMA" 
            [width]="150" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.NAMA}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="JENIS KELAMIN" 
            [width]="100" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.JENIS_KELAMIN}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="PEKERJAAN" 
            [width]="120" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.PEKERJAAN}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            [width]="100" >
            <ng-template ngx-datatable-header-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                    <span>ACTION</span>
                </div>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template >
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                    <button type="button" (click)="showDetail(row)" class="btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; padding: 5px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i> Detail</button>
                </div>
            </ng-template> 
        </ngx-datatable-column> 
      </ngx-datatable>
    </app-card>
  </div>
</div>
<app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Detail Peserta</h4>
        <button type="button" class="close basic-close" (click)="dataDetail.hide()">
            <span class="alert-danger" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-sm-12">
            <div class="card thumb-block card-box" *ngFor="let detail of detailPeserta">
                <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-4"><strong>No KTP</strong></label> 
                        <label class="col-sm-8">{{ detail.NO_KTP }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>No BPJS</strong></label> 
                        <label class="col-sm-8">{{ detail.NO_BPJS }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>Nama</strong></label> 
                        <label class="col-sm-8">{{ detail.NAMA }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>Jenis Kelamin</strong></label> 
                        <label class="col-sm-8">{{ detail.JENIS_KELAMIN }}</label> 
                    </div>  
                    <div class="row">
                        <label class="col-sm-4"><strong>Tempat, Tanggal Lahir</strong></label> 
                        <label class="col-sm-8">{{ detail.TEMPAT_LAHIR }}, {{ detail.TANGGAL_LAHIR }}</label> 
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-4"><strong>Agama</strong></label> 
                        <label class="col-sm-8">{{ detail.AGAMA }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>Pekerjaan</strong></label> 
                        <label class="col-sm-8">{{ detail.PEKERJAAN }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>Nomor Telepon</strong></label> 
                        <label class="col-sm-8">{{ detail.NO_TELEPON }}</label> 
                    </div>
                    <div class="row">
                        <label class="col-sm-4"><strong>Alamat</strong></label> 
                        <label class="col-sm-8">{{ detail.ALAMAT }}</label> 
                    </div> 
                </div>
                </div>
            </div>  
        </div>
    </div>
</app-modal-basic>