<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Tambah User Access'" [headerContent]="'Tambah akun yang dapat akses ke sistem.'">
      
        <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10"> 
              <input class="form-control" type="text" id="username" name="username" formControlName="username" placeholder="Username">
              <span class="messages text-danger" *ngIf="!myForm.get('username').valid && myForm.get('username').touched">* Enter valid username</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10"> 
              <input class="form-control" type="email" id="email" name="email" formControlName="email" placeholder="Email">
              <span class="messages text-danger" *ngIf="!myForm.get('email').valid && myForm.get('email').touched">* Enter valid email</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10"> 
              <input class="form-control" type="password" id="password" name="password"  formControlName="password" placeholder="Password">
              <span class="messages text-danger" *ngIf="!myForm.get('password').valid && myForm.get('password').touched">* Password can't be blank</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10"> 
              <select class="form-control" id="role" name="role"  formControlName="role" (change)='changeRole($event)'>
                <option *ngFor="let role of data_roles" [ngValue]="role._id">{{role.name}}</option>
              </select>
              <span class="messages text-danger" *ngIf="!myForm.get('role').valid && myForm.get('role').touched">* Role can't be blank</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row" [hidden]="!show_perusahaan">
            <label class="col-sm-2 col-form-label">Perusahaan</label>
            <div class="col-sm-10"> 
              <select class="form-control" id="perusahaan" name="perusahaan"  formControlName="perusahaan">
                <option *ngFor="let perusahaan of data_perusahaan" [ngValue]="perusahaan._id">{{role.nama_perusahaan}}</option>
              </select>
              <!-- <tag-input [ngClass]="'tag-select'"
                theme='bootstrap'
                [ngModel]="[]"
                [placeholder]="'Cari Perusahaan'"
                [onTextChangeDebounce]="500"
                [secondaryPlaceholder]="'Cari Perusahaan'"
                [onlyFromAutocomplete]="true">
                <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems">
                  <ng-template let-item="item" let-index="index">
                    {{ item.display }}
                  </ng-template>
                </tag-input-dropdown>
              </tag-input> -->
              <span class="messages text-danger" *ngIf="!myForm.get('perusahaan').valid && myForm.get('perusahaan').touched">* Role can't be blank</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row" [hidden]="!show_klinik">
            <label class="col-sm-2 col-form-label">Klinik</label>
            <div class="col-sm-10"> 
              <select class="form-control" id="klinik" name="klinik"  formControlName="klinik">
                <option *ngFor="let klinik of data_klinik" [ngValue]="klinik._id">{{role.nama_klinik}}</option>
              </select>
              <span class="messages text-danger" *ngIf="!myForm.get('klinik').valid && myForm.get('klinik').touched">* Role can't be blank</span>
              <span class="md-line"></span>
            </div>
          </div>
          <div class="form-group row" [hidden]="!show_rumahsakit">
            <label class="col-sm-2 col-form-label">Rumah Sakit</label>
            <div class="col-sm-10"> 
              <select class="form-control" id="rumahsakit" name="rumahsakit"  formControlName="rumahsakit">
                <option *ngFor="let rumahsakit of data_rumahsakit" [ngValue]="rumahsakit._id">{{role.nama_rumahsakit}}</option>
              </select>
              <span class="messages text-danger" *ngIf="!myForm.get('rumahsakit').valid && myForm.get('rumahsakit').touched">* Role can't be blank</span>
              <span class="md-line"></span>
            </div>
          </div>

          
          <div class="row m-t-30">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> Save</button>
            </div>
          </div>

        </form>
    </app-card>
  </div>
</div>