<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Title'" [headerContent]="'Description'">
      <div class="sub-title">Sub Title</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <!-- Border Alert start -->
        </div>
      </div>
    </app-card>
  </div>
</div>