<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Laporan Iuran'" [headerContent]="'Cetak laporan iuran di halaman ini.'">
      <div class="sub-title"></div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <!-- Border Alert start -->
        </div>
      </div>
    </app-card>
  </div>
</div>