<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Profile'" [headerContent]="'Sesuaikan profile anda di halaman ini'">
      <div class="sub-title"></div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <!-- Border Alert start -->
        </div>
      </div>
    </app-card>
  </div>
</div>