<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12"> 
      </div>
    </div>
  </div>
</section>