<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Konfirmasi Iuran'" [headerContent]="'Konfirmasi iuran yang telah dibayarkan.'">
      <div class="sub-title"></div>
      <div class="row">
        <div class="col-md-12">
          <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="">
                <div class="col-sm-12"> 
                    <div class="form-group row"> 

                        <div class="form-group col-sm-4">
                            <label class="">Kode Pemberi Kerja</label> <label class="alert-danger">*</label>
                            <input type="text" id="kode_perusahaan" name="kode_perusahaan" formControlName="kode_perusahaan" class="form-control" placeholder="Kode Pemberi Kerja">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Periode</label> <label class="alert-danger">*</label>
                            <input type="text" id="periode" name="periode" formControlName="periode" class="form-control" placeholder="Periode">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class=""></label> <label class="alert-danger"></label>
                          <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-search"></i> Cari</button>
                        </div>
                        
                    </div>
                </div>

                <hr class="page-header-line">
                <div class="" *ngIf="data_inquiry.result">
                  <div class="col-sm-12">  
                      <div class="form-group row"> 
                        <div class="form-group col-sm-8" style="text-align: right;">
                            <!-- <h5>Konfirmasi Transaksi</h5> -->
                        </div>
                        <div class="form-group col-sm-4"> 
                          <button type="button" (click)="showConfirmDelete($event, data_inquiry.result.transaksi.konfirm_status)" *ngIf="data_inquiry.result.transaksi.konfirm_status === false" class="btn btn-success btn-md btn-block waves-effect text-center"><i class="icofont icofont-save"></i> Konfirmasi</button>
                          <button type="button" (click)="showConfirmDelete($event, data_inquiry.result.transaksi.konfirm_status)" *ngIf="data_inquiry.result.transaksi.konfirm_status === true" class="btn btn-danger btn-md btn-block waves-effect text-center"><i class="icofont icofont-save"></i> Batal Konfirmasi</button>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-12 row m-b-10"> 
                    <div class="col-sm-6 row"> 
                      <div class="col-sm-12 row m-b-10 "> 
                          <div class="col-sm-12"><h4><b>Pemberi Kerja</b></h4></div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Kode</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.kode_perusahaan}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Nama</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.nama_perusahaan}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Alamat</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.alamat_perusahaan}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Nomor Telepon</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.no_telp}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Jumlah Karyawan</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.jumlah_karyawan}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Bidang Pekerjaan</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.perusahaan.bidang_kerja}}</div>
                      </div>
                    </div>
                    <div class="col-sm-6 row"> 
                      <div class="col-sm-12 row m-b-10 "> 
                          <div class="col-sm-12"><h4><b>Transaksi</b></h4></div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Periode</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.transaksi.periode}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Tanggal</b></div>
                          <div class="col-sm-8">{{convert.formatDate(data_inquiry.result.transaksi.tanggal_bayar)}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Jumlah Bayar</b></div>
                          <div class="col-sm-8">{{convert.formatRupiah(data_inquiry.result.transaksi.jumlah_bayar)}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Jumlah Anggota</b></div>
                          <div class="col-sm-8">{{data_inquiry.result.peserta.length}}</div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Status Konfirmasi</b></div>
                          <div class="col-sm-8">
                            <span class="label label-success" *ngIf="data_inquiry.result.transaksi.konfirm_status === true">Konfirmasi</span>
                            <span class="label label-default" *ngIf="data_inquiry.result.transaksi.konfirm_status === false">Belum Konfirmasi</span>
                           </div>
                      </div>
                      <div class="col-sm-12 row m-b-10"> 
                          <div class="col-sm-4"><b>Jumlah Anggota</b></div>
                          <div class="col-sm-8">{{convert.formatDate(data_inquiry.result.transaksi.konfirm_tanggal)}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 row m-b-10 m-t-20"> 
                    <div class="col-sm-12 row"> 
                      <div class="col-sm-12"><h4><b>Anggota</b></h4></div>
                    </div>
                    
                    <div class="col-sm-12"> 
                      <ngx-datatable
                          #table
                          class='data-table'
                          [columns]="columns"
                          [columnMode]="'force'"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="50"
                          [scrollbarH]="true"
                          [limit]="10"
                          [rows]='data_inquiry.result.peserta'>
                          <ngx-datatable-column
                              [width]="50"
                              [resizeable]="false"
                              [sortable]="false"
                              [draggable]="false"
                              [canAutoResize]="false">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  <div class="checkbox-fade fade-in-black">
                                      <label>
                                      <input type="checkbox" value="CSS" >
                                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                      </label>
                                  </div> 
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column 
                              name="Index" 
                              [width]="70">
                              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                  <strong> {{data_inquiry.result.peserta.indexOf(row)+1}}</strong>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column 
                              name="No KTP" 
                              [width]="100">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row['no_ktp']}}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column 
                              name="No BPJS" 
                              [width]="100" >
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row['no_bpjs']}}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column  
                              [width]="250" >
                              <ng-template ngx-datatable-header-template>
                                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                                      <span>Nama</span>
                                  </div>
                              </ng-template>
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                                      {{row['nama']}}
                                  </div>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column 
                              name="Jenis Kelamin" 
                              [width]="150" >
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row['jenis_kelamin']}}
                              </ng-template>
                          </ngx-datatable-column> 
                          <ngx-datatable-column 
                              name="Paket Premi" 
                              [width]="150" >
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row['paket']['nama_paket']}} - {{convert.formatRupiah(row['paket']['jumlah_bayar'])}}
                              </ng-template>
                          </ngx-datatable-column> 
                          <ngx-datatable-column 
                              name="Status Aktif Pekerja" 
                              [width]="150" >
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                                    <span class="label label-success" *ngIf="row['status_aktif_pekerja'] === true">Aktif</span>
                                    <span class="label label-default" *ngIf="row['status_aktif_pekerja'] === false">Tidak Aktif</span> 
                                </div>
                              </ng-template>
                          </ngx-datatable-column>
                          <!-- <ngx-datatable-column 
                            name="Premi Aktif Terakhir" 
                            [width]="150" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                                    {{row['last_active']}}
                                </div>
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column 
                            name="Transaksi Terakhir" 
                            [width]="150" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                                    <span class="label label-success" *ngIf="row['last_transaksi_status'] === true">Aktif {{row['last_transaksi_periode']}}</span>
                                    <span class="label label-default" *ngIf="row['last_transaksi_status'] === false">Tidak Aktif {{row['last_transaksi_periode']}}</span> 
                                </div>
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column
                            [width]="210"  >
                              <ng-template ngx-datatable-header-template>
                                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                                      <span>Action</span>
                                  </div>
                              </ng-template>
                              <ng-template let-row="row" ngx-datatable-cell-template >
                                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                                      <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                                      <button type="button" (click)="showDetail()" class="btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i></button> 
                                      &emsp;
                                      <button type="button" id="btnShowEdit" [hidden]="true" (click)="dataEdit.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-pencil"></i> Edit</button> 
                                      <button type="button" (click)="showEdit()" class="btn btn-warning btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Edit"><i class="icofont icofont-pencil-alt-2"></i></button> 
                                      &emsp;
                                      <button type="button" (click)="showConfirmDelete($event, row._id, row.status_aktif_pekerja)"class="btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px; width: 40px;" container="body" placement="top" ngbTooltip="Ubah Status Aktif Pekerja"><i class="icofont icofont-eye"></i></button>
                                  </div>
                              </ng-template> 
                          </ngx-datatable-column>  -->
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>